@font-face {
  font-family: gicons;
  src: url(./icons.eot?5.21.0);
  src: url(./icons.eot?5.21.0#iefix) format("embedded-opentype"),url(./icons.woff2?5.21.0) format("woff2"),url(../fonts/eicons.woff?5.21.0) format("woff"),url(../fonts/eicons.ttf?5.21.0) format("truetype"),url(./icons.svg?5.21.0#eicon) format("svg");
  font-weight: 400;
  font-style: normal
}

[class*=" gicon-"],[class^=gicon] {
  display: inline-block;
  font-family: gicons;
  font-size: inherit;
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.gicon-close:before {
  content: "\e87f";
}

.g-top-bar-post-nav {
  position: fixed;
  z-index: 10;
  background-color: rgba(240, 246, 252, 1);
  ;
  top: 46px;
  left: 0;
  right: 0;
  height: 24px;
  display: flex;
  align-items: center;
  padding: 0 18px;
}

.g-top-bar-post-nav .g-top-bar-crumb {
  color: #000;
  padding: 0 5px;
}

.g-top-bar-post-nav .g-top-bar-crumb:link,
.g-top-bar-post-nav .g-top-bar-crumb:visited {
  color: #3858E9;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
}

.g-folio__theme-2-page .attachment-post-thumbnail {
  width: 100%;
  height: auto;
}

.groove .interface-interface-skeleton {
  top: 66px;
}

.groove .edit-post-layout .editor-post-publish-panel {
  top: 66px;
}

.g-top-bar-root {
  left: 160px;
  font-family: var(--g-a-font-family);
  background: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.03);
  position: fixed;
  top: 32px;
  width: calc(100% - 160px);
  z-index: 1;
}

.g-top-bar-root .g-top-bar {
  display: flex;
  height: 50px;
  justify-content: space-between;
  padding: 0 16px;
}

.g-top-bar__left {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
}

body.groove_folio-template-default {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body.groove .g-top-bar-root {
  height: 50px;
}

body.groove #wpbody-content {
  margin-top: 65px;
}

/* body.toplevel_page_groove-overview .g-top-bar-root, */
body.groove.groove-folios_page_groove-settings .g-top-bar-root,
body.groove.groove-folios_page_groove-folio .g-top-bar-root {
  height: 85px;
}
/* body.toplevel_page_groove-overview #wpbody-content, */
body.groove.groove-folios_page_groove-settings #wpbody-content,
body.groove.groove-folios_page_groove-folio #wpbody-content {
  margin-top: 100px;
}

.g-top-bar-tabs {
  position: relative;
}

.g-top-bar-tabs .g-folio__nav-tab {
  background: transparent;
  border: none;
  position: relative;
  cursor: pointer;
}

.g-top-bar-tabs .g-folio__nav-tab.g-folio__nav-tab-active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background: #3858E9;
}

.g-top-bar-root .g-top-bar-logo {
  background: url('../images/logo.png') center center no-repeat;
  background-size: 36px 36px;
  height: 48px;
  width: 48px;
}

.g-folio__fields {
  display: flex;
  overflow: hidden;
}

.g-folio__fields-section {
  overflow: hidden;
  width: calc(50% - 7.5px);
}

.g-folio__fields-left {
  margin-right: 15px;
}

.g-folio__fields-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
}

.g-folio__fields-title {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}

.g-folio__setting-account .g-row_field-invitation-code {
  padding: 15px;
  background-color: #fff;
}

.g-row_field {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.g-row_field label {
  font-size: 12px;
  margin-bottom: 5px;
}

.g-folio__setting-privacy {
  width: 100%;
}
.g-folio__setting-account .g-row_field label,
.g-folio__setting-privacy .g-row_field label {
  font-size: 14px;
  font-weight: 500;
}

.g-folio__setting-account .g-folio__button,
.g-folio__setting-privacy .g-folio__button {
  width: 150px;
  margin-left: 0;
}

.g-folio__setting-account-status {
  background: #EDFAEF;
  color: #005C12;
  font-size: 14px;
  width: 54px;
  line-height: 28px;
  text-align: center;
  height: 28px;
}

.g-folio__setting-usage {
  word-break: break-all;
}

.g-folio__postbox {
  width: 100%;
}

.g-top-bar__right {
  display: flex;
  align-items: center;
}

.g-folio__buttons {
  display: flex;
  align-items: center;
}

.g-folio__button:link {
  text-decoration: none;
}

.g-folio__button {
  width: 100px;
  min-width: 88px;
  height: 32px;
  border-radius: 2px;
  font-size: 13px;
  color: #3858E9;
  border: 1px solid #3858E9;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.g-folio__button.g-folio__button-blank {
  color: #3858E9;
  border: 1px solid transparent;
  background-color: #ffffff;
}

.g-folio__button.g-folio__button-secondary {
  color: #3858E9;
  border: 1px solid #F0F6FC;
  background-color: #F0F6FC;
}

.g-folio__button.g-folio__button-primary {
  background-color: #3858E9;
  border-color: #3858E9;
  color: #fff;
}

.g-folio__content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.g-folio__postbox-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 8px rgba(0,0,0,.1);
}

.g-folio__fields-footer {
  padding: 0 0 15px 0;
}

.g-folio__postbox-body {
  padding: 15px;
}

.g-folio__postbox-title {
  padding-left: 15px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.g-folio__postbox-close {
  border-inline-start: 1px solid #eee;
  font-size: 0;
  color: inherit;
  cursor: pointer;
}

.g-folio__postbox-icon:link {
  color: #000;
}
.g-folio__postbox-icon {
  padding: 15px;
  font-size: 16px;
  text-decoration: none;
}

.g-folio__postbox-themes .postbox {
  border: none;
}

.g-folio__themes {
  margin-top: 16px;
  display: flex;
}
.g-folio__themes-desc {
  margin: 0;
  color: #2C3338;
}
.g-folio__theme {
  width: calc(50% - 7.5px);
  border: 1px solid #CCC;
  margin-bottom: 16px;
  cursor: pointer;
}
.g-folio__theme:nth-child(2n) {
  margin-left: 15px;
}

.g-folio__theme-name {
  padding: 18px;
  font-size: 12px;
  background-color: #fff;
  color: #000;
}

.g-folio__theme.g-folio__theme_selected .g-folio__theme-name {
  background-color: #3858E9;
  color: #fff;
}

.g-folio__theme-button {
  display: flex;
  justify-content: flex-end;
}

.g-folio__theme-thumb {
  width: 100%;
  height: 150px;
}

.g-folio__theme-thumb img {
  width: 100%;
}

.g-folio__footer-version {
  
}

.postbox-container.postbox-transparent .postbox {
  background: transparent;
  border: none;
  padding: 0;
  box-shadow: none;
}

.postbox-container.postbox-transparent .g-folio__fields-header {
  padding: 0;
  box-shadow: none;
}

.postbox-container.postbox-transparent .inside {
  background: transparent;
  border: none;
  padding: 0;
}

.g-folio__setting-privacy.postbox-container,
.g-folio__setting-account.postbox-container {
  width: 100%;
}
.g-folio__support.postbox-container {
  width: 100%;
}

.g-folio__glance {
  width: 100%;
}

.g-folio__glance .inside {
  display: flex;
  flex-wrap: wrap;
}
.g-folio__glance .inside .g-row_field {
  width: 50%;
}

.g-folio__blocks {
  width: 650px;
}

.g-folio__theme-2 {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
}

.g-folio__theme-2 .g-folio__theme-brief {
  width: 596px;
  height: 497px;
}

.g-folio__theme-2 .g-folio__theme-brief {
  display: flex;
  border-radius: 2px;
  background: #1D35B4;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
  flex-direction: column;
  padding: 24px 32px;
}

.g-folio__theme-2 .g-folio__theme-title {
  color: #fff;
  font-size: 64px;
  font-weight: 700;
  margin: 0;
  line-height: 1.25;
  margin-top: 37.88px;
}

.g-folio__theme-2 .g-folio__theme-subtitle {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  margin: 0;
  margin-top: 24px;
}

.g-folio__theme-2 .g-folio__theme-author {
  font-size: 14px;
  color: #F0F6FC;
  font-weight: 400;
  line-height: 1.25;
  margin-top: 32px;
}

.g-folio__theme-2 .g-folio__theme-logo {
  height: 48px;
  display: flex;
  align-items: center;
}
.g-folio__theme-2 .g-folio__theme-logo img {
  width: 105.898px;
  height: 20.119px;
  flex-shrink: 0;
}

.g-folio__theme-2 .g-folio__theme-fields {
  flex: 1;
}

.g-folio__theme-2 .g-folio__theme-fields-submit {
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  border: 1px solid #FFF;
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  width: 80px;
  cursor: pointer;
}

.g-folio__theme-2 .g-folio__theme-copyright {
  justify-self: flex-end;
  font-size: 12px;
  color: #9EC2E6;
  line-height: 1.25;
  font-weight: 400;
}

.g-folio__theme-2 .g-folio__theme-powerby {
  justify-self: flex-end;
  font-size: 12px;
  line-height: 1.25;
  font-weight: 400;
  margin-bottom: 24px;
  color: #fff;
}

.g-folio__theme-2 .g-folio__theme-site {
  color: #fff;
}

.g-folio__theme-2 .g-folio__theme-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.g-folio__theme-2 .g-folio__theme-nav-button {
  position: fixed;
  left: 24px;
  top: 12px;
  height: 32px;
  width: 32px;
  background: url('../images/theme-menu-icon-02.png') no-repeat center center #1D35B4;
  background-size: 24px 24px;
  border: none;
  outline: none;
  cursor: pointer;
}

.g-folio__theme-2 .g-folio__theme-nav-close {
  position: absolute;
  right: 8px;
  top: 8px;
  height: 32px;
  width: 32px;
  background: url('../images/theme-close-02.png') no-repeat center center ;
  background-size: cover;
  border: none;
  outline: none;
  cursor: pointer;
}

.g-folio__theme-2 .g-folio__theme-nav {
  width: 360px;;
  padding: 24px;
  background: #fff;
  box-sizing: border-box;
  transform: translateX(-100%);
  transition: all .3s;
}

.g-folio__theme-2 .g-folio__theme-nav.visible {
  transform: translateX(0);
}

.g-folio__theme-2 .g-folio__theme-nav-name {
  color: #101517;
  font-size: 24px;
  font-weight: 700;
  margin-top: 80px;
}

.g-folio__theme-2-page .g-folio__theme-page-name {
  margin-left: 16px;
  font-size: 14px;
}

.g-folio__theme-2-page .g-folio__theme-folio-name {
  color:  #3C434A;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25;
}

.g-folio__theme-2 .g-folio__theme-nav-item {
  height: 64px;
  color: #3858E9;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  cursor: pointer;
}

.g-folio__theme-2 .g-folio__theme-nav-item-link {
  text-decoration: none;
}

.g-folio__theme-2 .g-folio__theme-nav-item::after {
  content: "";
  background-color: #F0F0F1;
  height: 1px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}


.g-folio__theme-2 .g-folio__theme-nav-item-order {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  color: #52B107;
  font-weight: 700;
  font-style: normal;
}

.g-folio__theme-2 .g-folio__theme-nav-label {
  font-size: 12px;
  color: #8C8F94;
  margin-top: 32px;
}

.g-folio__theme-2 .g-folio__theme-nav {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
}


.g-folio__theme-2-page {
  background-color: #1D35B4;
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  overflow: scroll;
  font-family: DM Sans;
}

.g-folio__theme-2-page .g-folio__theme-page-main {
  width: 100%;
}

.g-folio__theme-2-page .g-folio__theme-page-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100vh;
  width: 100%;
  overflow: scroll;
}

.g-folio__theme-2-page .g-folio__theme-page-sidebar {
  margin-left: 64px;
  position: sticky;
  top: -100px;
  width: 265px;
}

.g-folio__theme-2-page .g-folio__theme-page-mobile-nav {
  position: fixed;
  top: 48px;
  left: 0;
  right: 0;
  background: #fff;
  box-sizing: border-box;
  transition: all .3s;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
  height: 0;
  padding: 0 16px;
  overflow: hidden;
}

.g-folio__theme-2-page .g-folio__theme-page-mobile-nav.visible {
  height: auto;
  padding: 24px 16px;
}

.g-folio__theme-2-page .g-folio__theme-page-mobile-nav-label {
  color: #3C434A;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 15px */
  text-transform: uppercase;
  margin-bottom: 32px;
}

.g-folio__theme-2-page .g-folio__theme-page-mobile-nav-item {
  height: 38px;
  color: #3858E9;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  cursor: pointer;
}

.g-folio__theme-2-page .g-folio__theme-page-mobile-nav-back {
  color: #3858E9;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 32px;
  cursor: pointer;
}

.g-folio__theme-2-page .g-folio__theme-page-mobile-nav-item-link {
  text-decoration: none;
}

.g-folio__theme-2-page .g-folio__theme-page-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 48px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.90);
  transition: background-color .3s;
  display: flex;
  align-items: center;
  padding: 0 12px;
  box-sizing: border-box;
}

.g-folio__theme-2-page .g-folio__theme-page-nav-bar-main {
  flex: 1;
  display: flex;
  align-items: center;
}

.g-folio__theme-2-page .g-folio__theme-page-nav-bar-toggle {
  display: none;
  background: url('../images/more-toggle-icon-02.png') no-repeat center center #F6F7F7;
  background-size: 24px 24px;
  height: 32px;
  width: 32px;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.g-folio__theme-2-page .g-folio__theme-page-nav-button {
  height: 32px;
  width: 32px;
  background: url('../images/theme-menu-icon-02.png') no-repeat center center #1D35B4;
  background-size: 24px 24px;
  border: none;
  outline: none;
  cursor: pointer;
}

.g-folio__theme-2-page .g-folio__theme-page-nav-close {
  position: absolute;
  right: 8px;
  top: 8px;
  height: 32px;
  width: 32px;
  background: url('../images/theme-close-02.png') no-repeat center center ;
  background-size: cover;
  border: none;
  outline: none;
  cursor: pointer;
}

.g-folio__theme-2-page .g-folio__theme-page-nav {
  width: 360px;;
  padding: 24px;
  background: #fff;
  box-sizing: border-box;
  transform: translateX(-100%);
  transition: all .3s;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
}

.g-folio__theme-2-page .g-folio__theme-page-nav.visible {
  width: 360px;;
  padding: 24px;
  background: #fff;
  box-sizing: border-box;
  transform: translateX(0);
}

.g-folio__theme-2-page .g-folio__theme-page-nav-name {
  color: #101517;
  font-size: 24px;
  font-weight: 700;
  margin-top: 80px;
}

.g-folio__theme-2-page .g-folio__theme-page-nav-item {
  height: 64px;
  color: #3858E9;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  cursor: pointer;
}

.g-folio__theme-2-page .g-folio__theme-page-nav-item-link {
  text-decoration: none;
}

.g-folio__theme-2-page .g-folio__theme-page-nav-item::after {
  content: "";
  background-color: #F0F0F1;
  height: 1px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}


.g-folio__theme-2-page .g-folio__theme-page-nav-item-order {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  color: #52B107;
  font-weight: 700;
  font-style: normal;
}

.g-folio__theme-2-page .g-folio__theme-page-nav-label {
  font-size: 12px;
  color: #8C8F94;
  margin-top: 32px;
}

.g-folio__theme-2-page .g-folio__theme-page-nav {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
}


.g-folio__theme-2-page .g-folio__theme-page-content {
  background-color: #fff;
  width: 954px;
  padding: 24px;
  box-sizing: border-box;
}

.g-folio__theme-2-page .g-folio__theme-page-body {
  display: flex;
}

.g-folio__theme-2-page .g-folio__theme-page-title {
  font-size: 32px;
  line-height: 1.25;
  font-weight: 600;
  color: #fff;
  margin-top: 80px;
}

.g-folio__theme-2-page .g-folio__theme-page-content {
  margin-top: 56px;
}

.g-folio__theme-2-page .g-folio__theme-page-footer {
  display: flex;
  width: 100%;
}

.g-folio__theme-2-page .g-folio__theme-page-prev,
.g-folio__theme-2-page .g-folio__theme-page-next,
.g-folio__theme-2-page .g-folio__theme-page-powerby {
  flex: 1;
}

.g-folio__theme-2-page .g-folio__theme-page-powerby {
  text-align: center;
  font-size: 14px;
  line-height: 1.25;
  font-weight: 400;
  padding: 24px 0;
  color: #fff;
}

.g-folio__theme-2-page .g-folio__theme-page-container {
  width: 954px;
}

.g-folio__theme-2-page .g-folio__theme-page-catalogs-label {
  color: #9DD373;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: -0.12px;
  text-transform: uppercase;
}

.g-folio__theme-2-page .g-folio__theme-page-catalogs {
  flex: 1;
  box-sizing: border-box;
  padding-left: 16px;
  border-left: 1px solid #9DD373;
  margin-top: 200px;
}

.g-folio__theme-2-page .g-folio__theme-page-catalog a {
  color: #fff;
  font-size: 14px;
  word-wrap: break-word;
}

.g-folio__theme-2-page .g-folio__theme-page-catalog h1, 
.g-folio__theme-2-page .g-folio__theme-page-catalog h2 {
  color: #fff;
  font-size: 14px;
}

.g-folio__theme-2-page .g-folio__theme-page-prev .g-folio__theme-page-arrow {
  transform: rotate(-180deg);
}

.g-folio__theme-2-page .g-folio__theme-page-next,
.g-folio__theme-2-page .g-folio__theme-page-prev {
  display: flex;
  font-size: 14px;
  color: #fff;
  padding: 24px 0;
  line-height: 1.25;
  font-weight: 400;
  align-items: center;
}

.g-folio__theme-2-page .g-folio__theme-page-arrow {
  display: inline-block;
  background: url('../images/theme-arrow-2.png') center center no-repeat;
  background-size: 24px 24px;
  height: 24px;
  width: 24px;
}

.g-folio__theme-2-page .g-folio__theme-page-next a,
.g-folio__theme-2-page .g-folio__theme-page-prev a {
  color: #fff;
  cursor: pointer;
}

.g-folio__theme-2-page .g-folio__theme-page-next {
  justify-content: flex-end;
}

.g-folio__theme-2-page .g-folio__theme-site {
  color: #fff;
  margin-left: 2px;
}

.g-folio__theme-1 {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
}

.g-folio__theme-1 .g-folio__theme-background {
  flex: 1;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.g-folio__theme-1 .g-folio__theme-brief {
  flex: 1;
  display: flex;
  background: #F0F6FC;
  flex-direction: column;
  padding-top: 80px;
  align-items: flex-end;
}

.g-folio__theme-1 .g-folio__theme-brief-inner {
  width: 560px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.g-folio__theme-1 .g-folio__theme-brief-content {
  display: flex;
  flex-direction: column;
  padding: 24px 32px;
  margin-right: 80px;
  align-content: flex-end;
  box-sizing: border-box;
  flex: 1;
}

.g-folio__theme-1 .g-folio__theme-title {
  color: #000;
  font-size: 64px;
  font-weight: 700;
  margin: 0;
  line-height: 1.25;
  margin-top: 116px;
}

.g-folio__theme-1 .g-folio__theme-subtitle {
  color: #000;
  font-size: 24px;
  font-weight: 500;
  margin: 0;
  margin-top: 8px;
}

.g-folio__theme-1 .g-folio__theme-author {
  font-size: 14px;
  color: #F0F6FC;
  font-weight: 400;
  line-height: 1.25;
  margin-top: 32px;
}

.g-folio__theme-1 .g-folio__theme-logo {
  font-size: 0;
  margin-left: 8px;
}

.g-folio__theme-1 .g-folio__theme-logo img {
  width: 105.898px;
  height: 20.119px;
  flex-shrink: 0;
}

.g-folio__theme-1 .g-folio__theme-fields {
  flex: 1;
}

.g-folio__theme-1 .g-folio__theme-copyright {
  justify-self: flex-end;
  font-size: 12px;
  color: #9EC2E6;
  line-height: 1.25;
  font-weight: 400;
}

.g-folio__theme-1 .g-folio__theme-powerby {
  justify-self: flex-end;
  font-size: 12px;
  line-height: 1.25;
  font-weight: 400;
  margin-bottom: 24px;
  color: #fff;
}

.g-folio__theme-1 .g-folio__theme-site {
  color: #fff;
}

.g-folio__theme-1 .g-folio__theme-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  flex: 1;
}

.g-folio__theme-1  .g-folio__theme-header {
  display: flex;
  align-items: center;
}

.g-folio__theme-1 .g-folio__theme-nav-button {
  height: 32px;
  width: 32px;
  background: url('../images/theme-menu-icon-01.png') no-repeat center center #F6F7F7;
  background-size: 24px 24px;
  border: none;
  outline: none;
  cursor: pointer;
}

.g-folio__theme-1 .g-folio__theme-nav-close {
  position: absolute;
  right: 8px;
  top: 8px;
  height: 32px;
  width: 32px;
  background: url('../images/theme-close-02.png') no-repeat center center ;
  background-size: cover;
  border: none;
  outline: none;
  cursor: pointer;
}

.g-folio__theme-1 .g-folio__theme-nav {
  width: 360px;;
  padding: 24px;
  background: #F0F6FC;
  box-sizing: border-box;
  transform: translateX(-100%);
  transition: all .3s;
}

.g-folio__theme-1 .g-folio__theme-nav.visible {
  transform: translateX(0);
}

.g-folio__theme-1 .g-folio__theme-nav-name {
  color: #101517;
  font-size: 24px;
  font-weight: 700;
  margin-top: 80px;
}

.g-folio__theme-1 .g-folio__theme-nav-item {
  height: 64px;
  color: #3858E9;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  cursor: pointer;
}

.g-folio__theme-1 .g-folio__theme-nav-item-link {
  text-decoration: none;
}

.g-folio__theme-1 .g-folio__theme-nav-item::after {
  content: "";
  background-color: #F0F0F1;
  height: 1px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}


.g-folio__theme-1 .g-folio__theme-nav-item-order {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  color: #3858E9;
  font-weight: 700;
  font-style: normal;
}

.g-folio__theme-1 .g-folio__theme-nav-label {
  font-size: 12px;
  color: #8C8F94;
  margin-top: 32px;
}

.g-folio__theme-1 .g-folio__theme-nav {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
}


.g-folio__theme-1-page {
  background-color: #fff;
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  overflow: scroll;
}

.g-folio__theme-1-page .g-folio__theme-page-center {
  width: 1280px;
  display: flex;
  flex-direction: row;
}

.g-folio__theme-1-page .g-folio__theme-page-sidebar {
  flex: 1;
  margin-left: 64px;
}

.g-folio__theme-1-page .g-folio__theme-page-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 48px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.90);
  backdrop-filter: blur(4px);
  border-bottom: 2px solid rgba(240, 246, 252, 1);
  display: flex;
  align-items: center;
  padding: 0 12px;
}

.g-folio__theme-1-page .g-folio__theme-page-nav-button {
  height: 32px;
  width: 32px;
  background: url('../images/theme-menu-icon-01.png') no-repeat center center #F6F7F7;
  background-size: 24px 24px;
  border: none;
  outline: none;
  cursor: pointer;
}

.g-folio__theme-1-page .g-folio__theme-page-nav-close {
  position: absolute;
  right: 8px;
  top: 8px;
  height: 32px;
  width: 32px;
  background: url('../images/theme-close-02.png') no-repeat center center ;
  background-size: cover;
  border: none;
  outline: none;
  cursor: pointer;
}

.g-folio__theme-1-page .g-folio__theme-page-nav {
  width: 360px;;
  padding: 24px;
  background: #fff;
  box-sizing: border-box;
  transform: translateX(-100%);
  transition: all .3s;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
}

.g-folio__theme-1-page .g-folio__theme-page-nav.visible {
  width: 360px;;
  padding: 24px;
  background: #F0F6FC;
  box-sizing: border-box;
  transform: translateX(0);
}

.g-folio__theme-1-page .g-folio__theme-page-nav-name {
  color: #101517;
  font-size: 24px;
  font-weight: 700;
  margin-top: 80px;
}

.g-folio__theme-1-page .g-folio__theme-page-nav-item {
  height: 64px;
  color: #3858E9;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  cursor: pointer;
}

.g-folio__theme-1-page .g-folio__theme-page-nav-item-link {
  text-decoration: none;
}

.g-folio__theme-1-page .g-folio__theme-page-nav-item::after {
  content: "";
  background-color: #F0F0F1;
  height: 1px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}


.g-folio__theme-1-page .g-folio__theme-page-nav-item-order {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  color: rgba(56, 88, 233, 1);
  font-weight: 700;
  font-style: normal;
}

.g-folio__theme-1-page .g-folio__theme-page-nav-label {
  font-size: 12px;
  color: #8C8F94;
  margin-top: 32px;
}

.g-folio__theme-1-page .g-folio__theme-page-nav {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
}


.g-folio__theme-1-page .g-folio__theme-page-content {
  background-color: #fff;
  width: 954px;
  padding: 24px 0;
  box-sizing: border-box;
}

.g-folio__theme-1-page .g-folio__theme-page-body {
  display: flex;
}

.g-folio__theme-1-page .g-folio__theme-page-title {
  font-size: 32px;
  line-height: 1.25;
  font-weight: 600;
  color: #101517;
  margin-top: 80px;
}

.g-folio__theme-1-page .g-folio__theme-page-content {
  margin-top: 56px;
}

.g-folio__theme-1-page .g-folio__theme-page-footer {
  display: flex;
  width: 100%;
}

.g-folio__theme-1-page .g-folio__theme-page-prev,
.g-folio__theme-1-page .g-folio__theme-page-next,
.g-folio__theme-1-page .g-folio__theme-page-powerby {
  flex: 1;
}

.g-folio__theme-1-page .g-folio__theme-page-powerby {
  text-align: center;
  font-size: 14px;
  line-height: 1.25;
  font-weight: 400;
  padding: 24px 0;
  color: rgba(56, 88, 233, 1);
}

.g-folio__theme-1-page .g-folio__theme-page-container {
  width: 954px;
}

.g-folio__theme-1-page .g-folio__theme-page-catalogs-label {
  color: #3C434A;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: -0.12px;
  text-transform: uppercase;
}

.g-folio__theme-1-page .g-folio__theme-page-catalogs {
  flex: 1;
  box-sizing: border-box;
  padding-left: 16px;
  border-left: 1px solid #DCDCDE;
  margin-top: 200px;
}

.g-folio__theme-1-page .g-folio__theme-page-catalog a {
  color: #3858E9;
  font-size: 14px;
  word-wrap: break-word;
}

.g-folio__theme-1-page .g-folio__theme-page-catalog h1, 
.g-folio__theme-1-page .g-folio__theme-page-catalog h2 {
  color: #fff;
  font-size: 14px;
}

.g-folio__theme-1-page .g-folio__theme-page-prev .g-folio__theme-page-arrow {
  transform: rotate(-180deg);
}

.g-folio__theme-1-page .g-folio__theme-page-next,
.g-folio__theme-1-page .g-folio__theme-page-prev {
  display: flex;
  font-size: 14px;
  color: #fff;
  padding: 24px 0;
  line-height: 1.25;
  font-weight: 400;
  align-items: center;
}

.g-folio__theme-1-page .g-folio__theme-page-arrow {
  display: inline-block;
  background: url('../images/theme-arrow-1.png') center center no-repeat;
  background-size: 24px 24px;
  height: 24px;
  width: 24px;
}

.g-folio__theme-1-page .g-folio__theme-page-next a,
.g-folio__theme-1-page .g-folio__theme-page-prev a {
  color: rgba(56, 88, 233, 1);
  cursor: pointer;
}

.g-folio__theme-1-page .g-folio__theme-page-next {
  justify-content: flex-end;
}

.g-folio__theme-1-page .g-folio__theme-site {
  color: #fff;
  margin-left: 2px;
}

/* 响应 */
/* 主题 2 */
@media screen and (max-width: 600px) {
  .g-folio__theme-2-page .g-folio__theme-folio-name {
    display: none;
  }

  .g-folio__theme-2 .g-folio__theme-content {
    width: 100%;
  }
  .g-folio__theme-2 .g-folio__theme-brief {
    width: 100%;
    box-sizing: border-box;
    padding: 32px 24px;
  }

  .g-folio__theme-2-page .g-folio__theme-page-content {
    width: 100%;
  }

  .g-folio__theme-2-page .g-folio__theme-page-center {
    width: 100%;
    margin: 0 16px;
  }

  .g-folio__theme-2-page .g-folio__theme-page-container {
    width: 100%;
  }

  .g-folio__theme-2-page .g-folio__theme-page-sidebar {
    display: none;
  }

  .g-folio__theme-2-page .g-folio__theme-page-powerby {
    display: none;
  }

  .g-folio__theme-2-page .g-folio__theme-page-nav.visible {
    width: 100%;
  }

  .g-folio__theme-2-page .g-folio__theme-page-nav-bar-toggle {
    display: flex;
  } 

  .g-folio__theme-2-page .g-folio__theme-page-center {
    height: auto;
    overflow: auto;
  }

  /* background: url('../images/theme-arrow-1.png') center center no-repeat; */
}


/*  */

@media screen and (max-width: 960px) {
  .g-top-bar-root {
    left: 36px;
    width: calc(100% - 36px);
  }
}
@media screen and (max-width: 782px) {
  .g-top-bar-root {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .g-top-bar-root {
    left: 0;
  }
}
@media (max-width: 768px) {
  .g-top-bar-root {
    display: inline-flex;
    left: 0;
    top: 46px;
    flex-direction: column;
  }
}
@media (min-width: 768px) {
  .g-top-bar-root .g-top-bar__secondary-area .g-top-bar__secondary-area-buttons {
    display: flex;
  }
}


@media (min-width: 783px) {
  .g-top-bar-post-nav {
    left:160px
  }
}

@media (min-width: 783px) {
  .auto-fold .g-top-bar-post-nav {
    left:36px;
  }

  .g-top-bar-post-nav {
    top: 32px;
  }

  .groove .interface-interface-skeleton {
    top: 56px;
  }

  .groove .edit-post-layout .editor-post-publish-panel {
    top: 56px;
  }
}

@media (min-width: 961px) {
  .auto-fold .g-top-bar-post-nav {
    left:160px
  }
}